body {
  font-family: "trebuchet ms", sans-serif;
  line-height: 1.6;
}

header {
  background: #f4f4f4;
  padding: 1rem;
  text-align: center;
}

.container {
  margin: auto;
  width: 1500px;
  overflow: auto;
  padding: 2rem 1rem;
}

#form {
  padding: rem;
  background: #f4f4f4;
}

.btn {
 
  border: 0;
  background: pink;
}